
\.sass-cache/

assets/src/parts/\.DS_Store

assets/src/general/\.DS_Store

assets/src/\.DS_Store

assets/plugins/font-awesome/\.DS_Store

assets/plugins/\.DS_Store

assets/img/\.DS_Store

assets/dist/\.DS_Store

assets/\.DS_Store

\.DS_Store
