* {
	@include box-sizing(border-box); 
}

.container {
	max-width: rem(1200);
	padding: 0 rem(15);
	margin: 0 auto;  
}
a {
	cursor: pointer;
	text-decoration: none; 
}

.flex-row {
	display: flex;
	@include direction(row);
	@include wrap(wrap); 
}
.flex-col {
	display: flex;
	@include direction(column);
	@include wrap(wrap); 
}