// ---------------------------
       // general
// ---------------------------
@mixin box-sizing($box) {
  -webkit-box-sizing: $box; 
     -moz-box-sizing: $box; 
          box-sizing: $box;
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
// ---------------------------
		// functions
// ---------------------------
@function rem($pixels, $context: 16) {
  @return #{$pixels/$context}rem;
}
// ---------------------------
       // flex
// ---------------------------
@mixin direction($dir) {
	-webkit-flex-direction: $dir;
	-ms-flex-direction: $dir;
	flex-direction: $dir;
    }
@mixin wrap($w) {
    -webkit-flex-wrap: $w; 
	-ms-flex-wrap: $w; 
	flex-wrap: $w;
	} 
@mixin basis($s) {
	-webkit-flex-basis: $s; 
		flex-basis: $s; 
}

@mixin justify-content($justify) {
	-webkit-justify-content: $justify; 
 	justify-content: $justify;
}
@mixin align-items($align) {
	-webkit-align-items: $align; 
	 align-items: $align;
} 
@mixin align-self($align) {
	-webkit-align-self: $align; 
		align-self: $align; 
} 

@mixin flex-cont($c) {
	display: flex;
	@include direction($c);
	@include wrap(wrap);
}

// // ---------------------------
// 		typography
// // ---------------------------
@mixin link($color) {
	color: $color; 
	font-family: 'Lato', sans-serif;
	font-size: rem(14);
	font-weight: 500;
	line-height: rem(38);
	&:hover {
		opacity: .2;
		@include transition(all .3 ease);  
	}
}
@mixin line($color) {
			content: "";
			position: absolute;
			width: rem(86);
			height: rem(2);
			background-color: $color;
			bottom: 0;
    		top: 0;
    		left: 0;
    		right: 0;
    		margin: rem(115) auto;
}
@mixin title($color) {
	color: $color;
	font-family: 'Raleway', sans-serif;
	font-size: rem(35);
	font-weight: 700;
	line-height: rem(60);
	text-transform: uppercase; 
	position: relative;
	text-align: center;
	&::after {
		@include line($color);
	}
}

@mixin btn-text($btn-text-color) {
	color: $btn-text-color;
	font-family: 'Lato', sans-serif;
	font-size: rem(24);
	font-weight: 400;
	line-height: rem(57);
	text-transform: uppercase;
}



// ---------------------------
		// btn
// ---------------------------
@mixin btn($bg, $btn-text-color) {
	display: block;
	min-width: rem(83); 
	height: rem(60);
	// padding: 0 rem(20); 
	border: 3px solid $bg;
	@include btn-text($btn-text-color);
	text-align: center;
	&:hover {
		cursor: pointer;
		background: lighten($bg, 15%);
  		@include transition(all 250ms ease-in-out);
  		color: darken($btn-text-color, 20%);
	}  
}
// ---------------------------
		// bg
// ---------------------------
@mixin bg($url) {
	background-image: url($url); 
   	background-repeat: no-repeat;
    background-size: cover;
}