.work {
	padding-top: rem(118);
	padding-bottom: rem(80); 
	&__title {
		padding-bottom: rem(137); 
		@include title($dark-text);
	}
	&__btn	{
		width: calc((100% - 60px)/3); 
		@include basis(calc((100% - 60px)/3));
		@include btn($dark-text, $dark-text);
		@include align-self(center);
	} 
}

.box {
	padding-bottom: rem(80); 
	@extend .flex-row;
	@include justify-content(space-between);
	&__item {
		background-color: $black; 
		position: relative;
		@extend .flex-col;
		@include basis(calc((100% - 60px)/3));
		overflow: hidden;
		&:hover .box__img {
		cursor: pointer;
		@include transition(all .4s linear);
		opacity: 0.3;
		}
		&:hover .box__info, &:hover .box__link {
		cursor: pointer;
		visibility: visible;	
		}
	}
	&__img {
		max-width: 100%; 
	}
	&__info	{ 
		position: absolute;
		visibility: hidden;
		padding-bottom: rem(42); 
		color: $white1; 
		font-family: 'Lato', sans-serif;
        font-size: rem(22);
        font-weight: 400;
        line-height: rem(60);
        text-transform: uppercase;
        top: 30%;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		text-align: center; 
	}
	&__link {
		position: absolute;
		visibility: hidden;
		max-width: rem(41);
		min-height: rem(41); 
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;  
	}
}
